/* navbar */
.nav-section {
    transition: all 0.2s ease;
    z-index: 999;
}

.nav-section .container {
    border-radius: 100px;
    border: 1px solid #e7e7e7;
    background: #ffffff;
    backdrop-filter: blur(24px);
    transition: transform 0.2s ease, color 0.2s linear;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);
}

.scrolled.nav-section {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    /* background-color: #ffffff80;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px); */
    z-index: 999;
    /* box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08) */
}

.nav-section .navbar-nav .nav-link {
    position: relative;
    padding: 24px 20px;
    color: var(--dark);
    font-weight: 500;
    position: relative;
    line-height: normal;
    white-space: nowrap;
    transition: all 0.25s ease;
}

.nav-section .navbar-nav .nav-link:hover {
    color: var(--primary) !important;
}

.nav-section .navbar-toggler:focus {
    box-shadow: none;
}

.nav-section .navbar-toggler .navbar-toggler-icon .line {
    width: 80%;
    height: 2px;
    border-radius: 4px;
    background-color: white;
}

.nav-section .navbar-nav {
    width: 100%;
    border-left: 0.5px solid #ffffff10;
    border-radius: 1px;
}


.nav-section .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 0;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    background-color: transparent;
    /* transition: height 0.1s linear; */
}

.nav-section .navbar-nav .nav-link.active {
    color: var(--white);
}

.nav-section .navbar-nav .nav-link.active:after {
    left: 0;
    width: 100%;
}

.nav-section .navbar-nav .nav-link.active::before {
    height: 100%;
}


.nav-section .navbar-brand img,
.footer-logo img {
    max-width: 85px;
}

.nav-section .mail-icon-wrapper {
    width: 50px;
    min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    border-radius: 50%;
    border: 1px solid #04203e1a;
    transition: all 0.2s ease;
    background-color: transparent;
}


.nav-section .mail-icon-wrapper:hover {
    color: white;
    background-color: var(--primary);
}


/* navbar  */


/* hero section  */
.hero-section {
    padding-top: 250px;
    padding-bottom: 150px;
}

/* hero section  */

.accordion-button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #121212 !important;
    font-weight: 600;
    border: none;
    box-shadow: none;
    padding: 10px 16px;
    border-color: #dee2e6;
}

.accordion-button:not(.collapsed) {
    background: none;
    box-shadow: none;
    border-bottom: 1px solid #dee2e6 !important;
}

.with-light-bg .accordion-button {
    background-color: #f8f9fa;
}

.accordion-body {
    background-color: #fff;
    color: var(--secondary);
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 400;
}

.accordion-item {
    border: 1px solid #dee2e6 !important;
    border-radius: 12px !important;
    margin-bottom: 1rem;
    overflow: hidden;
}


.accordion-button:focus {
    box-shadow: none;
    border-color: #dee2e6 !important;
}

.accordion-button::after {
    background: url(/assets/images/chevron-down.svg) no-repeat center center;
}

.accordion-button:not(.collapsed)::after {
    background: url(/assets/images/chevron-down.svg) no-repeat center center;
}


.accordion-lg .accordion-button,
.accordion-lg .accordion-body {
    padding: 12px 20px;
    font-size: 16px;
}


.absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.inner-page-header {
    padding: 200px 0 50px 0;
}


.fancybox-gallery img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;
}


/* service section  */
.choose-section .card {
    background: linear-gradient(#1a1a1a66, #07070766);
    border: 1px solid #9b9b9b;
}

.image-wrapper img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.about-section .card .img-wrapper img {
    transition: all 0.2s linear;
}

.about-section .card:hover img {
    transform: scale(1.05);
}

.about-section .card .btn {
    padding: 24px;
    font-size: 18px;
    background-color: #fff;
}


.about-section .card:hover .btn {
    color: var(--blue);
}

.about-section .card:last-child {
    position: relative;
    padding: 30px;
    color: #fff;
    background-color: var(--dark);
    border: none;
    transition: all 0.25s ease;
}

.about-section .card:last-child:hover {
    background-color: var(--blue);
}

.about-section .card:last-child::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url(../images/triangle-image.svg);
    --background-overlay: '';
    pointer-events: none;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 105% auto;
}

.about-section .card:last-child::after {
    content: "";
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 34px;
    padding: 26px;
    color: var(--primary);
    border-radius: 8px;
    background-color: var(--grey-lightest);
}

.service-card:active {
    background-color: #e4b006;
}

.service-card:hover,
.service-card:active {
    background-color: var(--warning);
    box-shadow: inset var(--shadow);
}

/* service section  */

/* experience section  */
.choose-section .counter-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}


.cta-section {
    position: relative;
    background-image: url(/assets/images/cta-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.cta-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: #FED40390;
    pointer-events: none;
    z-index: -1;
}


/* experience section  */

/* our branches section */
.our-branches-section {
    background: url(/assets/images/map-2.png) no-repeat center center/contain, var(--primary);
}

.our-branches-section .location-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
}

.our-branches-section .location-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: start;
    padding: 25px 28px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    transition: all 0.25s ease;
}

.our-branches-section .location-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.12);
}


.our-branches-section .location-card .contact-number-wrapper {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

/* our branches section */

/* form section  */
.form-section .form {
    padding: 36px;
    border-radius: 16px;
    background-color: #f3f3f3;
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.301);
}

.form label {
    padding-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
}

.custom-form-control {
    padding: 12px 10px;
    border: 1px solid transparent;
}

.input-error {
    border-color: #dc3545;
}

.input-error {
    animation: shake 0.4s;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }
}

.custom-form-control:focus {
    outline: none;
}

textarea.custom-form-control {
    min-height: 100px;
    max-height: 200px;
}

/* form section  */


/* footer section  */
.footer-section {
    color: #fff;
    background-color: var(--dark);
}

.footer-section .footer-nav a {
    color: #fff;
    transition: all 0.1s ease;
}

.footer-section .footer-nav a:hover {
    color: var(--warning-dark);
}

.footer-section .footer-nav li .nav-link {
    padding: 10px 16px;
}

.footer-section .bottom-container {
    border-top: 0.5px solid #f9fafb56;
}

/* footer section  */

/* media queries */
@media screen and (max-width: 1399.97px) {
    .our-branches-section .location-card-container {
        gap: 30px;
    }

    .our-branches-section .location-card .contact-number-wrapper {
        column-gap: 16px;
    }
}

@media screen and (max-width: 1199.97px) {

    .nav-section .navbar-nav .nav-link {
        padding-left: 18px;
        padding-right: 19px;
    }

    .our-branches-section .location-card .contact-number-wrapper {
        column-gap: 30px;
    }
}

@media screen and (max-width: 991.97px) {
    .nav-section .container {
        border-radius: 0;
        border: none;
        background: transparent;
        backdrop-filter: none;
        transition: transform 0.2s ease, color 0.2s linear;
        box-shadow: none;
    }

    .nav-section {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        border: 1px solid #e7e7e7;
        background: #ffffff;
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);
    }

    .nav-section .navbar-nav {
        border: none;
    }

    .nav-section .navbar-nav .nav-link {
        padding: 16px 24px;
    }


    .nav-section .navbar-nav .nav-link::before {
        background-color: var(--warning);
    }

    .our-branches-section .location-card-container {
        grid-template-columns: 1fr 1fr;
        gap: 26px;
    }

    .form-section {
        padding-top: 28px;
    }

    .form-section .form {
        padding-top: 24px;
        background-color: #f2f2f2;
    }

}

@media screen and (max-width: 767.97px) {
    .hero-section {
        padding-top: 220px;
        padding-bottom: 130px;
    }

    .about-section .card .btn {
        padding: 20px;
        transform: translateY(0);
    }

    .our-branches-section .location-card {
        padding: 20px 24px;
    }

    .our-branches-section .location-card-container {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 575.97px) {
    .nav-section .container {
        padding-left: 0;
        padding-right: 0;
    }

    .hero-section {
        padding-top: 200px;
        padding-bottom: 120px;
    }


    .form-section .form {
        padding: 24px;
        border-radius: 8px;
    }
}

@media screen and (max-width: 424.97px) {
    .choose-section .counter-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }
}

@media screen and (max-width: 375.97px) {

    .hero-section {
        padding-top: 180px;
        padding-bottom: 130px;
    }

    .form-section .form {
        padding: 26px;
    }

    .choose-section .counter-wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding-right: 16px;
        padding-left: 16px;
    }

    .nav-section .container {
        padding-right: 0;
        padding-left: 0;
    }

    .form-section .container {
        padding-right: 0;
        padding-left: 0;
    }

    .form-section .container .form {
        border-radius: 0;
    }
}